<p>
  <span>Hello <%= user.id %></span>
</p>

<p>
  <div>
    connected profiles: <%= Object.keys(user.providers).join(', ') %>
  </div>
  <div>
    <a href="login">sync status</a>
  </div>
  <div>
    <a href="logout">logout</a>
  </div>
</p>

<p>
  <div>
    <a href="/authorize?response_type=code&client_id=1&redirect_uri=https%3A%2F%2Flocalhost.com%2Ftoken%3Fclient_id%3D1%26client_secret%3Dsecret%26grant_type%3Dauthorization_code">authorize</a>
  </div>
</p>

<p>
  <div>
    <span>visits: <%= visits %></span>
  </div>
</p>
